<footer>
  <img src="https://placekitten.com/130/30" alt="logo" class="logo">
  <section class="footernav">
    <div>
      <h5>Menu do site</h5>
      <nav>
        <a href="/">Home</a>
        <a href="/">Sobre</a>
        <a href="/">Contato</a>
        <a href="/">Portfólio</a>
      </nav>
    </div>
    <div>
      <h5>Institucional</h5>
      <nav>
        <a href="/">Perguntas Frequentes</a>
        <a href="/">Quem Somos</a>
        <a href="/">Trabalhe Conosco</a>
      </nav>
    </div>
  </section>
</footer>
