---
layout: layout
---

<main>
  <section id="sobre">
    <div class="expandir wrapper">
      <h2 class="sobre--title"></h2>
      <span class="sobre--subtitle"></span>
      <div class="sobre--text">
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut tincidunt ipsum, eget condimentum enim. Etiam erat tortor, lacinia vitae nisl in, venenatis sollicitudin erat. Mauris ut euismod nisl. In ornare quam a ante molestie efficitur. Nulla pulvinar ligula in augue mattis, non gravida velit consequat. Nam ac arcu non purus laoreet ultrices. Praesent et placerat nisi. Donec lectus ante, finibus quis posuere eget, efficitur id ligula. Praesent in dolor sit amet velit aliquam dignissim.</p>
          <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque cursus urna ac dignissim suscipit. In egestas felis nec arcu tincidunt auctor. Duis turpis velit, accumsan et leo a, luctus eleifend sapien. Aliquam blandit arcu dolor, ac scelerisque turpis hendrerit in.</p> -->
      </div>
      <button class="sobre--buttonText botao-mais"></button>
    </div>
    <div class="carousel wrapper">
      <button></button>
      <div class="carousel-item" id="seguranca">
        <div>
          <img class="carousel-item--boxImage" src="https://placekitten.com/70/90">
          <h4 class="carousel-item--boxTitle"></h4>
          <p class="carousel-item--boxText"></p>
        </div>
      </div>
      <button></button>
    </div>
  </section>
  <section id="portfolio">
    <div class="wrapper">
      <h2 class="portfolio--title">Conheça um pouco do nosso trabalho!</h2>
      <span class="portfolio--subtitle">Nossa equipe desenvolveu vários projetos ao longo do tempo de funcionamento, dê uma olhada!</span>
      <ul class="portfolio--list">
        <!-- <li>
            <h3>Apeperia</h3> </li>
          <li>
            <h3>Nutri Medeiros</h3> </li>
          <li>
            <h3>WeNova</h3> </li> -->
      </ul>
      <button class="portfolio--buttonText botao-mais">Veja mais</button>
    </div>
  </section>
  <section id="contato">
    <div class="wrapper">
      <h2 class="contato--title"></h2>
      <span class="contato--subtitle"></span>
      <form>
        <div class="formarea">
          <span class="contato--formName"></span>
          <input type="text">
        </div>
        <div class="formarea">
          <span class="contato--formEmail"></span>
          <input type="text">
        </div>
        <div class="formarea">
          <span class="contato--formTelephone"></span>
          <input type="text">
        </div>
        <div class="formarea">
          <span class="contato--formMessage"></span>
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <button class="botao-mais">Enviar</button>
      </form>
    </div>
  </section>
</main>
